<header class="header">
    <a href="/">
        <img src="/img/logo.svg" alt="Homepage" class="logo">
    </a>
    <nav>
        <ul class="main-nav">
            <li><a href="/" class="main-nav-link">Home</a></li>
            <li><a href="/cars" class="main-nav-link">Cars List</a></li>
        </ul>
    </nav>
</header>